/* Estilos para el NavBar */
.navbar {
  background-color: rgb(38, 63, 133);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  position: relative;
}

.navbar .logo-btn-container {
  display: flex;
  align-items: center;
}

.navbar .logo-img {
  height: 45px;
}

.navbar .btn {
  background-color: rgb(38, 63, 133);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: inherit;
}

.navbar .btn:hover {
  background-color: #ffffff;
  color: #000000;
}

.navbar .logout-btn-container {
  margin-left: auto;
  white-space: nowrap;
}

.navbar .logout-btn {
  background-color: rgb(38, 63, 133);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: inherit;
}

.navbar .logout-btn:hover {
  background-color: #ffffff;
  color: #000000;
}

/* Estilos para el menú lateral */
.sidebar-menu {
  position: fixed;
  top: 0;
  left: -250px;
  background-color: rgb(38, 63, 133);
  padding: 20px;
  width: 250px;
  height: 100%;
  transition: left 0.3s;
  z-index: 999;
}

.sidebar-menu.open {
  left: 0;
}

.sidebar-menu a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  transition: color 0.3s;
}

.sidebar-menu a:hover {
  color: #ffffff;
}

.menu-btn-container {
  display: flex;
  align-items: center;
  margin-left: 2%;
}
