.btn-color{
    background-color: rgb(1, 111, 253);
    color: #000000c2;
    
  }
  
  .profile-image-pic{
    height: 200px;
    width: 200px;
    object-fit: cover;
  }

  .login-container {
    background-image: url('https://portal.ucm.cl//content/uploads/2016/10/universidad-ucm.jpg');
    background-size: cover;
    background-position: center center ;
    height: 100vh;
    width: 100%;
  }
  
  a{
    text-decoration: none;
  }


.card-body{
    background-color: #ffffff7c;
}

  