/* EditCarrera.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  background-size: 90px;
  display: flex;
  background-color: #252595;
}

.navbar-items {
  display: block;
  justify-content: center;
  align-items: flex-end;
  padding: 30px;
  margin-left: auto;
}

.navbar-item {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 16px;
  margin-left: 10px;
}

.navbar-item:hover {
  background-color: #ffffff;
  color: #000000;
}

h2 {
  text-align: center;
}

form {
  max-width: 400px;
  margin: 20px auto;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}
.success-message {
  background-color: #4CAF50; /* Color de fondo verde */
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}